@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root{
  --primary-color: #007bff;
  --shades-1: #000;
  --shades-2: #fff;
  --shades-3: #555;
}


body{
    font-family: 'Inter', sans-serif;
}

.container-fluid{
    padding: 4rem 8rem;
    margin-bottom: 5rem;
}


.form-modal .modal-content{
    border: none;
}

/* .navbar-nav{
    margin: 0 auto;
} */

.bg-dark{
    transition: background-color 500ms;
    -webkit-transition: background-color 500ms;
}

.bg-dark:hover{
    background-color: black !important;
}


.dot{
    height: 25px;
    width: 25px;
    background-color: rgb(255, 70, 70);
    border-radius: 50%;
    display: inline-block;
    /* box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.85); */
}

.img-css{
    max-width: 100%;
    height: auto;
    /* transition: transform .2s; */
    box-shadow: 0px 10px 20px rgb(241, 241, 241);
    border-radius: 10px;
    z-index: 2;
}

/*hero-section*/
/* .hero{
    background-color: var(--primary-color);
} */
.hero h1{
  font-size: 4.3rem;
  font-weight: bold;
  letter-spacing: -.2rem;
  line-height: 1;
}
.hero p{
  color: var(--shades-3);
}


/*features*/
.card{
    border: none;
    transition: all .2s ease-in-out;
}
.card-shadow{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.082);
}
.card:hover{
    background-color: var(--primary-color);
    color: var(--shades-2);
}

.table{
    margin: 2rem 0;
    animation: fadeInAnimation 3s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: fadeInAnimation 500ms ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}   

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top:  none;
}

.table span{
    font-weight: bold;
}

.event-para{
    /* padding: 1.4em; */
    border: none;
    text-align: left;
    animation: fadeInAnimation 3s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: fadeInAnimation 500ms ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

.note > div > h3 {
    padding: .2em;
    font-weight: bold;
} 

.modal-header{
    border: none;
}

.btn-Yes{
    margin-bottom: 1rem;
}
.btnYes, .btnNo{
    width: 100%;
    /* border-radius: 50px; */
}

.googleSign{
    max-width: 50%;
}

.para-atd{
    font-size: 1.6rem;
}

.btn-danger{
    transition: box-shadow, transform 300ms linear;
    -webkit-transition: box-shadow, transform 300ms linear;
}

.btn-danger:hover{
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    color: black;
}


input::placeholder{
    text-align: center;
}

.btn-danger:active{
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.25);

}

.user-form{
    padding: 1rem;
}

#button {
    display: inline-block;
    background-color: #000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\005E";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
  
}

@media (min-width: 500px) {
    #button {
      margin: 30px;
    }
}


.fadeStart{
    opacity: 1;
    animation: modalAnimation 200ms ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    -webkit-animation: modalAnimation 200ms ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

}

.atd{
    display: none;
}


/*helper classes*/



/*media query*/
@media only screen and (min-width: 320px) and (max-width: 991px){
    .container-fluid{
        padding: 1rem;
    }
    .hero h1{
        font-size: 2.3rem;
      }
      .register{
          margin-bottom: 1rem;
      }
      .hero-img{
          display: none;
      }
    footer{
        display: none;
    }
}

@media only screen and (min-width: 992px){
    footer{
        display: block;
        bottom: 0;
        background-color: black;
        text-align: center;
        color: wheat;
        margin-top: 2rem;
        padding: .1em;
    }
    #pagination{
        display: none;
        opacity: 0;
    }
    #pagination{
        display: flex;
    }

    @keyframes fadeInAnimation {
        0%{
            transform: translateX(100px);
            -webkit-transform: translateX(100px);
            opacity: 0;

        }
        100%{
            opacity: 1;
        }
    }

    @keyframes modalAnimation {
        0%{
            transform: scale(1.5);
            -webkit-transform: scale(1.5);
            opacity: 0;

        }
        100%{
            opacity: 1;
        }
    }
}